@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 88% 95%;
    --foreground: 215 28% 17%;
    --card: 207 88% 99%;
    --card-foreground: 215 28% 17%;
    --popover: 207 88% 99%;
    --popover-foreground: 215 28% 17%;
    --primary: 207 90% 54%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 50% 92%;
    --secondary-foreground: 215 28% 17%;
    --muted: 207 50% 92%;
    --muted-foreground: 215 28% 40%;
    --accent: 34 100% 62%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 30% 88%;
    --input: 207 30% 93%;
    --ring: 207 90% 54%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 207 90% 54%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 34 100% 62%;
    --sidebar-primary-foreground: 24 9.8% 10%;
    --sidebar-accent: 207 90% 60%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 207 90% 48%;
    --sidebar-ring: 34 100% 62%;
  }

  .dark {
    --background: 216 34% 17%;
    --foreground: 210 40% 98%;
    --card: 216 34% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 216 34% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 68%;
    --primary-foreground: 216 34% 17%;
    --secondary: 216 34% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 34% 25%;
    --muted-foreground: 210 40% 70%;
    --accent: 34 100% 62%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 216 34% 25%;
    --input: 216 34% 25%;
    --ring: 207 90% 68%;
    
    --sidebar-background: 216 34% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 34 100% 62%;
    --sidebar-primary-foreground: 24 9.8% 10%;
    --sidebar-accent: 216 34% 17%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 216 34% 20%;
    --sidebar-ring: 34 100% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
